@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap');
*::after,
*::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Afacad Flux", sans-serif;
    font-optical-sizing: auto;
    font-weight:400;
    font-style: normal;
    font-variation-settings:
    "slnt" 0;
    background: #ececec;
}

/*------------ Login container ------------*/

.box-area{
    width: 930px;
}
/*------------ Left box ------------*/
.side-image{
    background-image: url(../img/du-lich-bien-dao-fbqp.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px 0 0 10px;
    position: relative;
}
.text{
    color:#fff ;
}

/*------------ Right box ------------*/

.right-box{
    padding: 40px 30px 40px 40px;
}

/*------------ Custom Placeholder ------------*/

::placeholder{
    font-size: 16px;
}

.rounded-4{
    border-radius: 20px;
}
.rounded-5{
    border-radius: 30px;
}
@media only screen and (max-width: 768px){
     .box-area{
        margin: 0 10px;
     }
     .left-box{
        height: 100px;
        overflow: hidden;
     } 
     .right-box{
        padding: 20px;
     }

}
.navbar{
    background-color: #5fc7ff;
}
.nav-item a{
    color: #000;
    font-size: 18px;
}

.icon-container{
    position: relative !important;
}
.icon-container i{
    position: absolute !important;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}