@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap');
*::after,
*::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Afacad Flux", sans-serif;
    font-optical-sizing: auto;
    font-size: 20px;
    font-weight:400;
    font-style: normal;
    font-variation-settings:
    "slnt" 0;
    background: #ececec;
}
header,
nav {
    display: block;
}
.navbar-img img {
    max-width: 50px;
}
.nav .nav-underline li {
    margin-right: 10px;
}
.nav-item .icon3gach{
    display: none !important;
}
.nav-item .nav-link, .nav-item .fg-login {
    color: #fff;
    font-weight: bold;
    font-size: 17px;
}
.material-symbols-outlined {
    padding-top: 2px;
}
.login-navbar{
    color: #fff;
    text-decoration: none;
}
.li-navbar:hover {
    background-color: #e66108;
    color: #fff;
}
.lg-us-navbar {
    min-width: 264px;
    height: auto;
    padding: 8px 0px;
    display: none;
    position: absolute;
    z-index: 1001;
}
.arrow-up {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #fff;
    position: relative;
    margin: 0 auto;
}

.lg-us-container {
    background-color: #fff;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.3);
}
.lg-us {
    list-style-type: none;
    width: 100%;
    padding: 0px;
    margin: 0px;
}
.lg-us-01 {
    padding: 10px 20px;
}
.btn-lg-us {
    width: 100%;
    color: #fff;
    background-color: #07df90;
    font-weight: bold;
    border: none;
    height: 40px;
    border-radius: 5px;
}
.lg-us-02 {
    padding: 0px 20px 5px 20px;
}
.user-name-header {
    color: #fff;
    line-height: 21px;
    max-width: 120px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 5px;
    font-size: 18px;
}
.navbar-custom {
    display: flex;
    align-items: center;
}
.img-background {
    position: relative;
    width: auto;
    height: 60vh;
    overflow: hidden;
}
.img-bg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 0px;
    
}
.top-banner {
    position: absolute;
    top: 25%;
    color: #fff;
    font-weight: bold;
    /* top: 5%; */
    right: 0;
    bottom: 0;
    left: 20%;
    width: auto;
    justify-items: center;
    align-items: center;
    padding: 50px 0px;
}
.top-banner-address {
    margin-top: 15px;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 15px;
    width: 580px;
    border-radius: 10px;
}
.form-banner{
    display: grid;
    grid-template-rows: 1fr 1fr;
}
.input-icon {
    position: relative;
    width: 100%;
}
.icon-address {
    width: 100%;
    padding: 10px 10px 10px 40px;
    box-sizing: border-box;
}
.icon-01 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    width: 20px;
    height: 20px;
}
input {
    border-radius: 5px;
    border: none
}
.form-bg {
    width: 550px;
    height: auto;
    margin-top: 10px;
    position: relative;
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
    width: 100%;
    gap: 10px;
}
.input-icon-1{
    height: auto;
    margin-top: 10px;
    position: relative;
    display: grid;
    grid-template-columns:2fr 1fr;
    width: 100%;
    gap: 10px;
  }
  .icon-address-1{
    width: 100%;
    padding: 10px 10px 10px 40px;
    box-sizing: border-box;
  }
  .icon-time-1{
    padding: 10px 10px 10px 40px;
    box-sizing: border-box;
    width: 100%;
  }

.icon-time {
    width: 100%;
    padding: 10px 10px 10px 40px;
}
.icon-find {
    padding: 10px;
    font-weight: bold;
    background-color: #5fc7ff;
    color: #fff;
}
.time-01 {
    margin-right: 5px;
}
.time-02 {
    margin: 0px 5px;
}

@media screen and (max-width:789px) {
    .nav-item a:not(.icon3gach, .a-login) {
        display: none;
    }
    
    .fg-login{
        margin-top: 10px;
    }
    .nav-item .icon3gach{
        display: block !important;
    }
}
@media (max-width:740px ){
    .top-banner-address{
        width: 70%;
    }
    .input-icon{
        width: 100%;
    }
    .input-icon-1{   
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;
        gap: 10px;
    }
    .form-banner{
        grid-template-rows: 1fr;
    }
    .form-bg{
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr;
        gap: 10px;
    }
    .name-address h3{
        font-size: 15px;
        margin: 0;
    }
}
@media (max-width:344px){
    .name-address h3{
        font-size: 10px;
        margin: 0;
    }
    .name-address span{
        font-size: 9px;
    }
    .top-banner-address{
        width: 240px;
    }
}
.tour-group {
    list-style-type: none;
    padding: 0;
}
.tour-hot {
    background-color: #feeec7;
}
.tour-title {
    font-size: 32px;
    font-weight: bold;
    color: #3f3b3b;
    padding: 12px;
}
.tour-title span {
    font-size: 16px;
    font-weight: normal;
    color: #717484;
    display: block;
    margin-top: 6px;
}
.tour-hot-group {
    width: 100%;
    background-color: #fff;
    padding: 10px 0px;

}
.width100 {
    width: 100%;
}
.tour-hot-img {
    position: relative;
    text-align: left;
}
.gif-hot {
    position: absolute;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: 1fr 6fr;
    width: 100%;
}
.gif-hot img {
    padding: 0px 10px;
    width: 55px;
    height: 33px;
    max-width: 100%;
}
.gif-hot span {
    background-color: #ff0000;
    width: 100%;
    display: block;
    color: #fff;
    font-weight: bold;
    text-align: center;
    line-height: 33px;

}
.tour-hot-title {
    padding: 0px 15px;
    margin-bottom: 10px;
}
.span-title {
    font-size: 16px;
    font-weight: bold;
    color: #003C71;
}
.tour-star {
    color: #fb7c0d;
    font-size: 18px;
    margin-bottom: 5px;
}
.tour-feedback {
    margin-left: 10px;
}
.tour-hot-ul {
    text-align: left;
    color: #26bed6;
    margin-bottom: 10px;
}
.tour-money {
    color: #fb7c0d;
    text-align: right;
    font-size: 24px;
    float: right;
    margin-right: 10px;
    font-weight: bold;
}
.padding-t-e-12 {
    padding: 12px 0px;

}
 @media (max-width: 768px) {
    .tour-hot-ul,
    .tour-star {
        font-size: 14px;
    }
} 
.col-lg-4 {
    transition: box-shadow 0.3s;

}
.col-lg-4:hover {
    box-shadow: 0 0 10px 3px rgba(65, 187, 235, 0.6);

}
.tour-vnd {
    font-size: 15px;
}
.tour-vn {
    background-color: #e6e3e9;
}
.tour-address {
    padding-bottom: 15px;
}
.tour-address-famous {
    display: grid;
    grid-template-columns: 1fr 2fr;
    width: 100%;
    gap: 20px;
    padding: 12px;
}
.tour-address-famous img {
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
.tour-address-abroad {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}
.tour-address-vn {
    position: relative;
}
.name-address,
.name-address-vn, .tour-overplay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: rgba(0, 0, 0, 0.4);
    transition: opacity 0.5s;
    opacity: 0.6;
    color: #fff;
}
.tour-overplay{
    opacity: 0;
    font-size: 20px;
}
.tour-address-vn:hover img{
    transform: rotateY(180deg);
}
.tour-address-vn:hover .name-address{
    opacity: 0;
}
.tour-address-vn:hover .tour-overplay{
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.4);
    color: #fff;
}
.hotel-title{
    margin: 10px 0px;
}
.navbar {
    background: transparent;
    /* Đặt màu nền của navbar là trong suốt */
    z-index: 1000;
    /* Đặt z-index cao để navbar hiển thị phía trên */
    width: 100%;
    position: absolute;
    /* Đặt navbar ở vị trí tuyệt đối */
}
.bg-image-tour{
    background-image: url('../img/bg-tour.jpg');
}
.bg-image-hotel{
    background-image: url('../img/bg-hotel.webp');
}
.bg-image-tour,.bg-image-hotel {
    background-size: cover;
    background-position: center;
    height: 80vh;
    position: relative;
    
}
.row-row{
    display: flex;
}
.col-30 {
    flex: 0 0 30%;
    padding: 10px;
}

.col-70 {
    flex: 0 0 70%;
    padding: 10px;
}
.title-bg-tour{
    position: absolute;
    top: 20%;
    text-align: center;
    left: 40%;
}
.hotel-sale-tn{
    color: #5fc7ff;
    background-color: #f0f0f0;
}
.gif-hot-hotel {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.gif-hot-hotel span {
    background-color: #5fc7ff;
    width: 50%;
    display: block;
    color: #fff;
    font-weight: bold;
    text-align: center;
    line-height: 33px;
}
.hotel-sale{
    display: none;
}
.hotelsalenn {
    display: none; /* Ẩn tất cả các phần tử */
}

#hotel_sale1 {
    display: block; /* Hiển thị phần tử với id="hotel_sale1" */
}
.container-new-hotel-cantho{
    overflow: hidden;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}
.news-hotel-cantho{
    padding: 0px 8px 8px;
    margin-top: 16px;  
}
div.scroll-container {
    overflow: auto;
    white-space: nowrap;
    padding: 15px;
    position: relative; /* Để có thể định vị chữ trên hình ảnh */
}
  
div.image-container {
    position: relative;
    display: inline-block;
    width: 350px;
    height: 180px;
    margin: 0px 5px;
}
div.scroll-container::-webkit-scrollbar {
  height: 5px; /* Chiều cao của thanh cuộn */
}
div.scroll-container::-webkit-scrollbar-thumb {
  background: #888; /* Màu của thanh cuộn */
}
.btn-support{
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: #5fc7ff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.btn-support a{
    color: #f0f0f0;
    text-decoration: none;
    font-weight: bold;
}
#icon {
    cursor: pointer;
  }
  
  /* Hộp thoại popup */
  .popup {
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    display: none;  /* Ban đầu ẩn */
    z-index: 9999;  /* Đảm bảo nằm trên các phần tử khác */
    width: 300px;   /* Đặt chiều rộng cố định cho popup */
    box-sizing: border-box; /* Đảm bảo tính toán padding vào trong width */
  }
  
  /* Định dạng cho popup content */
  .popup-content {
    max-width: 300px;
  }
  /* Đặt ảnh lớn làm nền của modal */
.model-contai{
    position: relative;
    height: 250px;
}

.main-img {
    width: 100%;
    height: 200px;
    object-fit: cover; /* Đảm bảo ảnh lớn không bị méo */
}

/* Định vị ảnh nhỏ */
.small-img {
    position: absolute;
    top: 74%; /* Nửa trên của ảnh nhỏ nằm ngoài ảnh lớn */
    left: 15%; /* Đặt ảnh nhỏ ở giữa */
    transform: translateX(-50%); /* Căn giữa ảnh nhỏ theo chiều ngang */
    width: 80px; /* Điều chỉnh kích thước ảnh nhỏ */
    height: 80px; /* Chiều cao của ảnh nhỏ */
    object-fit: cover; /* Đảm bảo ảnh nhỏ không bị méo */
    border-radius: 50px;
    border: 2px solid #fff;
}
.nameuser{
    position: absolute;
    top: 86%; /* Nửa trên của ảnh nhỏ nằm ngoài ảnh lớn */
    left: 25%; /* Đặt ảnh nhỏ ở giữa */
    width: 80px; /* Điều chỉnh kích thước ảnh nhỏ */
    height: 80px; /* Chiều cao của ảnh nhỏ */
    object-fit: cover; /* Đảm bảo ảnh nhỏ không bị méo */
    border-radius: 50px;
}
